body{
    min-width: 45rem;
}
/* the style of outer container */
.content-container{
    padding: 3rem;
}

@media (min-width: 1060px) {
    .product-pic-container{
        height: 40rem;
    }
    .product-info-container{
        height: 40rem;
    }
}

@media (max-width: 1060px) {
    .product-pic-container{
        height: 30rem;
    }
    .product-info-container{
        height: 30rem;
    }
}

/* the style of picture frame */
.product-pic-container{
    width: 40%;
    margin-right: 3rem;
    display: inline-block;
    vertical-align: top;
}
/* picture */
.product-pic-container img{
    width: 100%;
    height: 100%;
}

/* the style of product information frame*/
.product-info-container{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.product-info-flex-box{
    height: 100%;
    width: 100%;
    position: relative;
}
.product-info-description{
    position: absolute;
    width: 100%;
    top: 15%;
}
.product-info-form{
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* the style of add cart button */
.add-cart-btn{
    height: 35px;
    font-weight: bold;
    background: #185185;
    padding: 5px;
    color: #f0f0f0;
    border-radius: 4px 4px 4px 4px;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-cart-btn:hover{
    color: #185185;
    background-color: #f0f0f0;
}

/* the style of unit price*/
.unit-price{
    padding-right: 2rem;
}
/* the style of product number input */
#product-number{
    padding: 5px;
    border: 1px #b7b7b7 solid;
    width: 10%;
}
#product-number:focus{
    outline: 1px #54a8ff solid;
}
/* the style of cart adding button area*/
.cart-adding-btn-area{
    margin-top: 2rem;
}

/* separation */
.separation{
    margin-top: 0.5rem;
    height: 1px;
    width: 100%;
    background-color: #d7d7d7;
}
/* the style of shop entrance */
.shop-entrance{
    margin-top: 0.5rem;
}
.shop-entrance a{
    cursor: pointer;
    color: #54a8ff;
}
.shop-entrance a:hover{
    color: #164453;
}