/*头部导航栏背景*/
#HeaderLine{
    background-color: rgb(22, 68, 83);
    width: 100%;
    height: 6.25em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
}

@media only screen and (max-width: 800px) {
  #imageFrame {
      padding: 1em;
      display: none;
  }
  #imageFrame2 {
      padding: 1em;
      display: block;
  }
}

@media only screen and (min-width: 800px) {
    #imageFrame {
        padding: 1em;
        display: block;
    }

    #imageFrame2 {
        padding: 1em;
        display: none;
    }
}

#Logo{
    grid-area: 1 / 1 / span 1 / span 1;
}

/*搜索区域*/
#SearchArea{
    grid-area: 1 / 2 / span 1 / span 6;
    margin: 1.875em;
}
/*--框和按钮的grid*/
#inputFrame{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
}
#searching{
    grid-area: 1 / 1 / span 1 / span 11;
}
#submitting{
    grid-area: 1 / 12 / span 1 / span 1;
    text-align: center;
}
/*--搜索框*/
#search{
    background-color: #FFFFFF;
    border-radius: 4px 0 0 4px;
    height: 35px;
    width: 100%;
    border-style: none;
    padding-left: 3px;
    padding-right: 6px;
    transition: all 0.3s ease;
}
#search:focus{
    border-style: none;
    outline: none;
}
/*所有button*/
.custom-btn{
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}
/*--搜索按钮添加动画特效*/
#searchBtn{
    margin-left: 6px;
    width: 100%;
    height: 35px;
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    padding: 0;
    border-radius: 0 4px 4px 0;
    border-style: none;
}
#searchBtn:before, #searchBtn:after{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    transition: all 0.3s ease;
}
#searchBtn:before{
    width: 3px;
}
#searchBtn:after{
    height: 3px;
}
#searchBtn:hover{
    color: rgba(251,75,2,1);
    background: #FFFFFF;
}
#searchBtn:hover:before{
    height: 100%;
}
#searchBtn:hover:after{
    width: 100%;
}
#searchBtn span:before, #searchBtn span:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    transition: all 0.3s ease;
}
#searchBtn span:before{
    width: 3px;
}
#searchBtn span:after{
    height: 3px;
}
#searchBtn span:hover:before{
    height: 100%;
}
#searchBtn span:hover:after{
    width: 100%;
}

/*表单*/
form{
    width: 100%;
}

/*个人信息链接*/
#PersonalInfo{
    grid-area: 1 / 8 / span 1 / span 1;
    display: flex;
    justify-content: center;
}
.nav-item{
    padding: 15px;
    margin: 0 1vw 0 0;
    display: inline-block;
}

/*a标签*/
a{
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
/*--a标签效果*/
a:before, a:after{
    position: absolute;
    content: "";
    right: -10px;
    bottom: -10px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
a:before{
    height: 0%;
    width: 3px;
}
a:after{
    width: 0%;
    height: 3px;
}

a:hover:before {
    height: 100%;
}
a:hover:after{
    width: 100%;
}
/**/
a span:before, a span:after{
    position: absolute;
    content: "";
    left: -10px;
    top: -10px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
a span:before{
    height: 0%;
    width: 3px;
}
a span:after{
    width: 0%;
    height: 3px;
}
a span:hover:before {
    height: 100%;
}
a span:hover:after{
    width: 100%;
}

.state_image{
    display: inline-block;
}



.state_text{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}







