/*The style of top bar*/
#HeaderLine{
    background-color: rgb(22, 68, 83);
    width: 100%;
    height: 3.5em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
}
/*the style of imageFrame (div) and image*/
#imageFrame img{
    height: 3.25em;
    width: 120px;
}
#imageFrame{
    margin-left: 1em;
    height: 3.25em;
}

/*top bar icon*/
.bar-pic{
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 800px) {
  #imageFrame {
      padding: 0.01em;
      display: none;
  }
  #imageFrame2 {
      padding: 0.01em;
      display: block;
  }
}

@media only screen and (min-width: 800px) {
    #imageFrame {
        padding: 0.01em;
        display: block;
    }

    #imageFrame2 {
        padding: 0.01em;
        display: none;
    }
}

#Logo{
    grid-area: 1 / 1 / span 1 / span 1;
}

/*searching area*/
#SearchArea{
    grid-area: 1 / 2 / span 1 / span 6;
    margin: 0.5em 1.875em;
}
/*--grid of framework and button*/
#inputFrame{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: inherit;
}
#searching{
    display: flex;
    grid-area: 1 / 1 / span 1 / span 11;
}
#submitting{
    grid-area: 1 / 12 / span 1 / span 1;
    text-align: center;
}
/* the style of selecting frame */
.category-selection{
    border: none;
    background-color: #f0f0f0;
    height: 2.3rem;
    outline: none;
    vertical-align: middle;
    border-radius: 4px 0 0 4px;
}
.category-selection:hover{
    background-color: #b7b7b7;
}

/*--searching framework*/
#search{
    background-color: #FFFFFF;
    height: 2.3rem;
    width: 100%;
    outline: none;
    vertical-align: middle;
    border-style: none;
    padding-left: 3px;
    padding-right: 6px;
    transition: all 0.3s ease;
}
#search:focus{
    border-style: none;
    outline: none;
}
/*all the button*/
.custom-btn{
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}
/*--searching button animation*/
#searchBtn{
    width: 100%;
    height: 2.3rem;
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    padding: 0;
    border-radius: 0 4px 4px 0;
    border-style: none;
}
#searchBtn:before, #searchBtn:after{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    transition: all 0.3s ease;
}
#searchBtn:before{
    width: 3px;
}
#searchBtn:after{
    height: 3px;
}
#searchBtn:hover{
    color: rgba(251,75,2,1);
    background: #FFFFFF;
}
#searchBtn:hover:before{
    height: 100%;
}
#searchBtn:hover:after{
    width: 100%;
}
#searchBtn span:before, #searchBtn span:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    transition: all 0.3s ease;
}
#searchBtn span:before{
    width: 3px;
}
#searchBtn span:after{
    height: 3px;
}
#searchBtn span:hover:before{
    height: 100%;
}
#searchBtn span:hover:after{
    width: 100%;
}

/*form*/
form{
    width: 100%;
}

/*personal a tag*/
#PersonalInfo{
    margin: 0.5em 0;
    grid-area: 1 / 8 / span 1 / span 1;
    display: flex;
    justify-content: center;
}
.nav-item{
    height: inherit;
    margin: 0.2em 2.5em 0 0;
    display: inline-block;
}

/*a tag*/
a{
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
/*--a tag effect*/
a:before, a:after{
    position: absolute;
    content: "";
    right: -5px;
    bottom: -5px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
a:before{
    height: 0%;
    width: 3px;
}
a:after{
    width: 0%;
    height: 3px;
}

a:hover:before {
    height: 100%;
}
a:hover:after{
    width: 100%;
}

a span:before, a span:after{
    position: absolute;
    content: "";
    left: -5px;
    top: -5px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
a span:before{
    height: 0%;
    width: 3px;
}
a span:after{
    width: 0%;
    height: 3px;
}
a span:hover:before {
    height: 100%;
}
a span:hover:after{
    width: 100%;
}

.state_image{
    display: inline-block;
}











