/* the entire document */
body{
    font-family: sans-serif;
    min-width: 45rem;
}

/* the layout of register shop area*/
.register-component{
    position: absolute;
    top: 70%;
    left: 50%;
    min-width: 35rem;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 110%;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    border-radius: 5px;
    transition: all .2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9001;
}
.register-input-frame{
    display: flex;
    margin-bottom: 2rem;
    transition: all .2s ease;
}
/* the back effect of profile*/
.profile_back_effect{
      width:100%;
      height:100%;
      visibility: hidden;
      opacity: 0;
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      background: rgba(8, 7, 7, 0.6);
      z-index: 100;
      transition: all .2s ease;
      backdrop-filter: saturate(180%) blur(1px);
}
/* the style of profile back button*/
#profile-back-btn{
    background: none;
    border: none;
    outline: none;
    height: 29px;
    color: #9c9c9c;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px auto;
    cursor: pointer;
}
/* the style of uploading picture button */
#shop-logo-input{
}
/* the style of preview frame of picture*/
#preview-pic-frame{
    margin-bottom: 5px;
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    outline: #9c9c9c dashed;
}
#preview-pic{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
/* the style of preview frame of goods picture*/
#product-pic-frame{
    margin-bottom: 5px;
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    outline: #9c9c9c dashed;
}
#preview-pic-good{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/* the style of button in registration of shop*/
.profile-confirm-btn{
    display: block;
    padding: 5px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.5s;
}
/* the style of the form title in shop registration*/
.ShopRegistrationFormTitle{
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 10px;
}
/* the layout of the shop registration area*/
.Shop-inputArea{
    margin: 15px 0 15px 0;
}
/* the style of label in the input area*/
.Shop-inputArea p{
    margin: 10px 0;
}
/* the style of shop input frame*/
#shop-name-input{
    padding: 5px;
    border-radius: 5px;
    border: #d5d5d5 1px solid;
}
#shop-name-input:focus{
    outline: #54a8ff 1px solid;
}

/* the style of the textarea*/
#shop-description-input{
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: #d5d5d5 1px dashed;
    width: 25rem;
    height: 8rem;
    resize: none;
}
#shop-description-input:focus{
    outline: #54a8ff 1px dashed;
}


/* the layout of personal information card */
.personalInfoCard{
	height: 20rem;
    margin: 2rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
}

/* the layout of left picture of personal information */
.profile-left-pic{
    width: 20%;
	display: inline-block;
    text-align: center;
    line-height: 20rem;
    vertical-align: top;
}
#profile-pic{
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
}

/* the layout of left picture of personal information */
.profile-right-info{
	display: inline-block;
    width: 70%;
    vertical-align: top;
}

/* the layout of profile header */
.profile-header{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* the style of info card */
.info-card{
    margin-right: 12rem;
    color: #C0C0C0;
    display: inline-block;
}

/* the style of info card title */
.info-card-title{
    font-size: 18px;
    padding-bottom: 1rem;
}

/* the layout of shop registration button area*/
.profile-btn-area{
    margin-top: 3rem;
}
/* the style of registering shop button*/
.shop-register-btn{
    height: 35px;
    font-weight: bold;
    background: #185185;
    padding: 5px;
    color: #f0f0f0;
    border-radius: 4px 4px 4px 4px;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.shop-register-btn:hover{
    color: #185185;
    background-color: #f0f0f0;
}

/* the layout and style of shop information frame*/
.shop-info-frame{
    margin: 2rem;
    padding: 2rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
}
/* the style of separation line*/
.separation-line{
    margin-top: 2rem;
    height: 1px;
    width: 100%;
    background-color: #d7d7d7;
}
/* the style of shop detailed information frame*/
.shop-detailed-info{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* image present */
.shop-pic-present-frame{
    vertical-align: top;
    display: inline-block;
    margin-right: 3rem;
    width: 10rem;
    height: 10rem;
    outline: #d7d7d7 dashed;
}
.shop-pic-present-frame img{
    width: 100%;
    height: 100%;
}
/* detail information present */
.shop-detail-present-frame{
    vertical-align: top;
    display: inline-block;
    margin-left: 3rem;
}
.shop-detail-info-piece{
    margin: 1rem 0;
}
.shop-info-content{
    color: #9c9c9c;
    margin: 8px 0;
}
/* the style of separation line between labels and contents*/
.separation-line-label{
    margin: 5px 0;
    height: 1px;
    width: 100%;
    background-color: #d7d7d7;
}
/* the style of products list*/
.products-list{
    width: 100%;
    display: block;
	margin: 1rem 0;
	padding: 0;
	list-style: none;
}
.product-item{
    padding: 10px;
	margin: 1rem 0;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
.product-item:hover{
    transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
/* the style of products presentation*/
/* products picture */
.product-pic-frame{
    width: 6rem;
    height: 6rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 3rem;
}
.product-info-frame img{
    width: 100%;
    height: 100%;
}
/* products information */
@media (max-width: 1150px) {
    .product-info-frame{
        width: 50%;
    }
}
@media (min-width: 1150px) {
    .product-info-frame{
        width: 80%;
    }
}
.product-info-frame{
    display: inline-block;
    vertical-align: top;
    margin-left: 3rem;
}
.product-description{
    margin: 10px 0;
}
.product-unit-price{
    display: inline-block;
    vertical-align: bottom;
}
/* the style of shop registration notice area (when user have no shop)*/
.shop-registration-notice-frame{
    margin-top: 2rem;
    padding: 10px;
}
.notice-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/* assistant pic style */
.assistant-notice{
    display: inline-block;
    vertical-align: top;
    width: 8rem;
    margin-right: 3rem;
    height: 8rem;
}
.assistant-notice img{
    width: 100%;
    height: 100%;
}
/* word notice style */
.registration-info-notice{
    color: white;
    padding: 90px 20px 90px 120px;
    background-image: url("../images/word_notice_frame.svg");
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3rem;
}
/* the style of button area (add products)*/
.products-adding-area{
    margin-top: 3rem;
    text-align: center;
}

/* the style of add good button*/
#add-product-back-btn{
    background: none;
    border: none;
    outline: none;
    height: 29px;
    color: #9c9c9c;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px auto;
    cursor: pointer;
}
/* the style of input frames for adding goods */
#good-name-enter{
    padding: 5px;
    border-radius: 5px;
    border: #d5d5d5 1px solid;
}
#good-name-enter:focus{
    outline: #54a8ff 1px solid;
}
#product-description{
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: #d5d5d5 1px dashed;
    width: 25rem;
    height: 8rem;
    resize: none;
}
#product-description:focus{
    outline: #54a8ff 1px dashed;
}
#good-price-enter{
    padding: 5px;
    border-radius: 5px;
    border: #d5d5d5 1px solid;
}
#good-price-enter:focus{
    outline: #54a8ff 1px solid;
}
