body{
    min-width: 45rem;
}

/* the style of the entire container frame */
.shop-products-frame{
    padding: 1rem;
}
/* the style of products list*/
.search-products-list{
    display: block;
    width: 100%;
	padding: 0;
	list-style: none;
}
.search-product-item{
    display: block;
    padding: 2rem;
	margin: 1rem 0;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
.search-product-item:hover{
    transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
/* a tag */
.search-product-item a{
    display: inline-block;
    vertical-align: top;
    color: black;
}

/* products picture */
.search-product-pic-frame{
    width: 10rem;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
    margin-right: 3rem;
}
.search-product-pic-frame img{
    width: 100%;
    height: 100%;
}

@media (min-width: 1060px) {
    .search-a-tag-right{
        width: 70%;
    }
}

@media (max-width: 1060px) {
    .search-a-tag-right{
        width: 50%;
    }
}

.search-product-info-frame{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
}
/* the style of searching result (product info)*/
.search-product-flex-frame{
    position: relative;
    width: 100%;
    height: 100%;
}
.search-product-description{
    margin-top: 1rem;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}
.search-product-unit-price{
    margin-top: 1rem;
    color: #54a8ff;
}

.DARKMODE_BACKGROUND_MAIN{
    background-color: rgb(47,47,51);
}
.DARKMODE_TEXT{
    color: white;
}
.DARKMODE_BACKGROUND_CARD{
    background-color: rgb(30, 30, 33);
}
