{% extends "MainpageBase.html" %}

{% block csslink %}
    <link rel="stylesheet" href="../static/css/goodDetail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0, user-scalable=yes" />
{% endblock %}

{% block body %}
    <div class="content-container">
        <div class="product-pic-container">
            <img src="{{ url_for("static", filename='product_img/' + product.picture_address) }}"/>
        </div>
        <div class="product-info-container">
            <div class="product-info-flex-box">
                <h2 class="product-info-name">{{ product.name }}</h2>
                <div class="shop-entrance">
                    <a href="/shop?name={{ product.shop.name }}">{{ product.shop.name }}</a>
                </div>
                <div class="separation"></div>
                <div class="product-info-description">
                    <p>{{ product.description }}</p>
                </div>
                <div class="product-info-form">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="input-count">
                            <span class="unit-price">{{ product.price }}$</span>
                            {{ form.amount(id="product-number", value="1") }}
                        </div>
                        <div class="cart-adding-btn-area">
                            {{ form.submit(class="add-cart-btn", value='Add to Cart') }}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}