{% extends "MainpageBase.html" %}

{% block csslink %}
    <link rel="stylesheet" href="../static/css/goodDetail.css">
{% endblock %}

{% block body %}
    <div class="content-container">
        <div class="product-pic-container">
            <img src="{{ url_for("static", filename='product_img/' + product.picture_address) }}"/>
        </div>
        <div class="product-info-container">
            <h2 class="product-info-name">{{ product.name }}</h2>
            <div class="product-info-description">
                <p>{{ product.description }}</p>
            </div>
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="input-count">
                    <span class="unit-price">{{ product.price }}$</span>
                    {{ form.amount(id="product-number", value="1") }}
                </div>
                <div class="cart-adding-btn-area">
                    {{ form.submit(class="add-cart-btn", value='Add to Cart') }}
                </div>
            </form>

        </div>
    </div>
{% endblock %}