{% extends "MainpageBase.html" %}
{% block title %} details {% endblock %}

{% block body %}
    <div class="content-container">
        <div class="product-pic-container">
            <img />
        </div>
        <div class="product-info-container">
            <h2 class="product-info-name">Shirt</h2>
            <div class="product-info-description">
                <p>This shirt is a cotton-made shirt</p>
            </div>
            <form>
                <div class="input-count">
                    <span class="unit-price">89$</span>
                    <input type="number" id="product-number"/>
                </div>
                <div class="cart-adding-btn-area">
                    <button type="button" class="add-cart-btn">Add to Cart</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}