{% extends "MainpageBase.html" %}
{% block title %} home {% endblock %}

{% block body %}
    <div class="whole-container">
        <div id="fluid-image-container">
            <ul id="image-list">
                <li>
                    <div class="block-item" id="b1"></div>
                </li>
                <li>
                    <div class="block-item" id="b2"></div>
                </li>
                <li>
                    <div class="block-item" id="b3"></div>
                </li>
                <li>
                    <div class="block-item" id="b4"></div>
                </li>
                <li>
                    <div class="block-item" id="b1"></div>
                </li>
            </ul>
            <div class="prev">
                <
            </div>
            <div class="next">
                >
            </div>
        </div>
        <div class="content-area">

        </div>
    </div>

{% endblock %}