{% extends "MainpageBase.html" %}
{% block title %} home {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="../static/css/fluidImage.css">
    <link rel="stylesheet" href="../static/css/cardContent.css">
    <link rel="stylesheet" href="../static/css/shoppingCartMain.css">
{% endblock %}

{% block body %}
    <!-- this is the area of basic content in main page -->
    <div class="whole-container">
        <!-- top fluid image slider (below the top bar) -->
        <div id="fluid-image-container">
            <ul id="image-list">
                <li>
                    <div class="block-item" id="b1"></div>
                </li>
                <li>
                    <div class="block-item" id="b2"></div>
                </li>
                <li>
                    <div class="block-item" id="b3"></div>
                </li>
                <li>
                    <div class="block-item" id="b4"></div>
                </li>
                <li>
                <!--  same id to make the image player recycle-->
                    <div class="block-item" id="b1"></div>
                </li>
            </ul>
            <div class="prev">
                <
            </div>
            <div class="next">
                >
            </div>
        </div>
        <!-- classification cards area -->
        <div class="content-area">
            <ul id="card-list">
                {% for category in categories %}
                    <li class="card-item">
                        <a class="category-image" href="/search?tag={{ category[4] }}" hover_image = '{{ category[1] }}'>
                        <img src='{{ category[0] }}' alt="{{category[2]}}">
                        </a>
                        <a class="category-description" href="" >
                        <h2>{{category[2]}}</h2>
                        <p>{{category[3]}}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <!-- shopping cart area -->
            {% if user != None %}
            <div class="shopping-cart-present">
                <h2>Your Shopping Cart Content</h2>
                <section id="slider">
                    <ul id="shopping-list">
                        {% for order in user.shoppingList[0].orders %}
                            <li class="shopping-item">
                                <a class="shopping-item-image" href="{{ url_for("User.shopping_bag") }}">
                                    <img src="{{ url_for("static", filename='product_img/' + order.product.picture_address) }}" alt="{{ order.product.description }}">
                                </a>
                                <a class="shopping-item-description" href="" >
                                    <p>${{ order.product.price }}</p >
                                </a >
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            {% endif %}
        </div>


    </div>

{% endblock %}