{% extends "MainpageBase.html" %}
{% block title %} home {% endblock %}

{% block body %}
    <div class="whole-container">
        <div id="fluid-image-container">
            <ul id="image-list">
                <li>
                    <div class="block-item" id="b1"></div>
                </li>
                <li>
                    <div class="block-item" id="b2"></div>
                </li>
                <li>
                    <div class="block-item" id="b3"></div>
                </li>
                <li>
                    <div class="block-item" id="b4"></div>
                </li>
                <li>
                    <div class="block-item" id="b1"></div>
                </li>
            </ul>
            <div class="prev">
                <
            </div>
            <div class="next">
                >
            </div>
        </div>
        <div class="content-area">
            <ul id="card-list">
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/clothing100.png)"
                     hover_image="../static/images/clothing500.png">
                        <img src="../static/images/clothing100.png" alt="Clothing">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Clothing Area</h2>
                        <p>shop clothes here!</p>
                    </a>
                </li>
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/furniture100.png)"
                     hover_image="../static/images/furniture500.png">
                        <img src="../static/images/furniture100.png" alt="Furniture">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Furniture Area</h2>
                        <p>decorate your warm home here!</p>
                    </a>
                </li>
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/smart100.png)"
                     hover_image="../static/images/smart500.png">
                        <img src="../static/images/smart100.png" alt="Electronic Devices">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Electronic Devices Area</h2>
                        <p>find your smart life here!</p>
                    </a>
                </li>
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/shoes100.png)"
                     hover_image="../static/images/shoes500.png">
                        <img src="../static/images/shoes100.png" alt="Shoes">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Shoes Area</h2>
                        <p>find your favourite shoes here!</p>
                    </a>
                </li>
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/toys100.png)"
                     hover_image="../static/images/toys500.png">
                        <img src="../static/images/toys100.png" alt="Toys">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Toys Area</h2>
                        <p>happiness gathering here!</p>
                    </a>
                </li>
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/food100.png)"
                     hover_image="../static/images/food500.png">
                        <img src="../static/images/food100.png" alt="Food">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Food Area</h2>
                        <p>make your life healthier here!</p>
                    </a>
                </li>
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/daily100.png)"
                     hover_image="../static/images/daily500.png">
                        <img src="../static/images/daily100.png" alt="Daily Necessities">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Daily Necessities Area</h2>
                        <p>find what you lack here!</p>
                    </a>
                </li>
                <li class="card-item">
                    <a class="category-image" href="" style="background-image: url(../static/images/books100.png)"
                     hover_image="../static/images/books500.png">
                        <img src="../static/images/books100.png" alt="Books">
                    </a>
                    <a class="category-description" href="" >
                        <h2>Reading Area</h2>
                        <p>gain knowledge here!</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}