<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/Login_style.css">
</head>
<body>
<!-- forget password part -->
    <div class="forget-pass-component">
        <div class="InputFrame" id="email-area">
            <form class="forget-input-area" novalidate>
                <h2 class="FormTitle">Forget password?</h2>
                <p>Please enter your email address</p>
                <div class="inputArea">
                    <input type="email" id="find-back-email" oninput="forget_email_listener()" placeholder="Your email address">
                    <div class="wrong_error" id="email_error_inForget"></div>
                </div>
                <input type="button" id="continue-email" onclick=email_continue() class="btn" value="continue">
            </form>
        </div>
        <div class="InputFrame" id="captcha-area">
            <form class="forget-input-area" novalidate>
                <h2 class="FormTitle">Forget password?</h2>
                <p>Please enter the captcha</p>
                <div class="inputArea">
                    <input type="text" id="find-back-captcha" oninput="forget_captcha_listener()" placeholder="Captcha received">
                    <div class="wrong_error" id="captcha_error_inForget"></div>
                </div>
                <input type="button" id="continue-captcha" onclick=captcha_continue() class="btn" value="continue">
            </form>
        </div>
        <div class="InputFrame" id="password-area">
            <form class="forget-input-area" novalidate>
                <h2 class="FormTitle">Forget password?</h2>
                <p>Please reset your password</p>
                <div class="inputArea">
                    <input type="password" id="find-back-password" oninput="forget_password_listener()" placeholder="Enter your new password">
                    <div class="wrong_error" id="password_error_inForget"></div>
                </div>
                <div class="inputArea">
                    <input type="password" id="find-back-re-password" oninput="forget_re_password_listener()" placeholder="Confirm your new password">
                    <div class="wrong_error" id="re_password_error_inForget"></div>
                </div>
                <input type="button" id="continue-password" onclick="resetPassword()" class="btn" value="SUBMIT">
            </form>
        </div>
        <button class="btn-in-forget" id="back_btn">Back to LOGIN</button>
    </div>

<!-- back effect part -->
    <div class="back_effect"></div>

<!-- login part -->
    <div class="Component">
        <div class="form_components">
            <div class="SignIn-form">
                <form class="log_in" method="post" name="form1">
                    <h2 class="FormTitle">Log in</h2>
                    <div class="inputArea">
                        <input type="text" name="email" id="login-email" placeholder="User email">
                    </div>
                    <div class="inputArea" id="attention">
                        <input type="password" name="password" id="login-password" placeholder="Password">
                    </div>
                    <input type="submit" class="btn" value="Log in" onclick="login()"/>
                    <button type="button" id="forget_password">Forget password?</button>
                </form>
            </div>
            <div class="SignUp-form">
                <form class="sign_up" method="post" name="form2">
                    <h2 class="FormTitle">Sign up</h2>
                    <div class="inputArea">
                        <input type="text" name="username" id="username_input" oninput=username_listener_sign_up() placeholder="Username">
                        <div class="wrong_error" id="username_error"></div>
                    </div>
                    <div class="inputArea">
                        <input type="password" id="password_input" name="password" oninput=password_listener_sign_up() placeholder="Password">
                        <div class="wrong_error" id="password_error"></div>
                    </div>
                    <div class="inputArea">
                        <input type="password" id="repassword_input" oninput=rePassword_listener_sign_up() placeholder="Password confirm">
                        <div class="wrong_error" id="Repassword_error"></div>
                    </div>
                    <div class="inputArea">
                        <div class="email_area">
                            <input type="email" id="email_input" name="email" oninput=email_listener_sign_up() placeholder="Email address">
                            <button type="button" id="send_button" onclick="send_email()">
                                <div id="count">SEND</div>
                            </button>
                        </div>
                        <div class="wrong_error" id="email_error"></div>
                    </div>

                    <div class="inputArea">
                        <input type="text" id="captcha_input" name="captcha" placeholder="Captcha">
                        <div class="wrong_error" id="captcha_error"></div>
                    </div>
                    <input type="button" class="btn" value="SignUp" onclick="register()">
                </form>
            </div>
        </div>
        <div class="curtain_components">
            <div class="curtain left-curtain">
                <div class="content">
                    <img class="AdPicture" src="../static/images/Log.svg">
                    <h3>Fresh blood!</h3>
                    <p>New to GoGrocery? This is a grocery list website. Come and join us!</p>

                    <button class="btn" id="to-signUp">
                        Sign up
                    </button>
                </div>
                <img id="left-logo" src="../static/images/Logo.svg">
            </div>
            <div class="curtain right_curtain">
                <img id="right-logo" src="../static/images/Logo.svg">
                <div class="content">
                    <h3>GoGrocery 'family' members?</h3>
                    <p>Log yourself in. Enjoy your shopping trip in GoGrocery</p>
                    <button class="btn" id="to-logIn">
                        Log in
                    </button>
                    <img class="AdPicture" src="../static/images/register.svg">
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="../static/js/utils.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
<script type="text/javascript" src="../static/js/passwordFindBack.js"></script>
</html>