<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/Login_style.css">
</head>
<body>

    <div class="Component ">
        <div class="form_components">
            <div class="SignIn-form">
                <form class="log_in" method="post" name="form1">
                    <h2 class="FormTitle">Log in</h2>
                    <div class="inputArea">
                        <input type="text" name="email" placeholder="User email">
                    </div>
                    <div class="inputArea">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <input type="submit" class="btn" value="Log in" onclick="login()"/>
                </form>
            </div>
            <div class="SignUp-form">
                <form class="sign_up" method="post" name="form2">
                    <h2 class="FormTitle">Sign up</h2>
                    <div class="inputArea">
                        <input type="text" name="username" placeholder="Username">
                        <div class="wrong_error" id="username_error"></div>
                    </div>
                    <div class="inputArea">
                        <input type="password" id="Password" name="password" placeholder="Password">
                        <div class="wrong_error" id="password_error"></div>
                    </div>
                    <div class="inputArea">
                        <input type="password" id="RePassword" placeholder="Password confirm">
                        <div class="wrong_error" id="Repassword_error"></div>
                    </div>
                    <div class="inputArea">
                        <div class="email_area">
                            <input type="email" id="email_input" name="email" placeholder="Email address">
                            <button type="button" id="send_button" onclick="send_email()">SEND</button>
                        </div>
                        <div class="wrong_error" id="email_error"></div>
                    </div>

                    <div class="inputArea">
                        <input type="text" id="Captcha" name="captcha" placeholder="Captcha">
                        <div class="wrong_error" id="captcha_error"></div>
                    </div>
                    <input type="button" class="btn" value="SignUp" onclick="register()">
                </form>
            </div>
        </div>
        <div class="curtain_components">
            <div class="curtain left-curtain">
                <div class="content">
                    <img class="AdPicture" src="../static/images/Log.svg">
                    <h3>Fresh blood!</h3>
                    <p>New to GoGrocery? This is a grocery list website. Come and join us!</p>

                    <button class="btn" id="to-signUp">
                        Sign up
                    </button>
                </div>
                <img id="left-logo" src="../static/images/Logo.svg">
            </div>
            <div class="curtain right_curtain">
                <img id="right-logo" src="../static/images/Logo.svg">
                <div class="content">
                    <h3>GoGrocery 'family' members?</h3>
                    <p>Log yourself in. Enjoy your shopping trip in GoGrocery</p>
                    <button class="btn" id="to-logIn">
                        Log in
                    </button>
                    <img class="AdPicture" src="../static/images/register.svg">
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="../static/js/utils.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
</html>