<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="../static/css/fluidImage.css">
    <link rel="stylesheet" href="../static/css/MainpageBase_style.css">
    <link rel="stylesheet" href="../static/css/cardContent.css">
</head>
<body>
    <div id="HeaderLine">
        <div id="Logo">
            <div id="imageFrame">
                <img id="webLogo" src="../static/images/Logo.svg" />
            </div>
            <div id="imageFrame2">
                <img id="webLogo2" src="../static/images/Logo2.svg" />
            </div>
        </div>
        <div id="SearchArea">
            <form>
                <div id="inputFrame">
                    <div id="searching">
                        <input type="text" id="search" placeholder="Search for items"/>
                    </div>
                    <div id="submitting">
                        <button type="submit" class="custom-btn" id="searchBtn">
                            <span>
                                Search
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="PersonalInfo">
            <div>
                {% if user == None %}
                    <div class="nav-item">
                        <a href="{{url_for('User.login')}}" id="profile">
                            <span>
                                <img class="bar-pic" src="../static/images/profile.jpg">
                            </span>
                        </a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a href="{{url_for('User.profile')}}" id="profile">
                            <span>
                                <img class="bar-pic" src="../static/images/profile-login.jpg">
                            </span>
                        </a>
                    </div>
                {% endif %}
                <div class="nav-item">
                    <a href="{{url_for('User.shopping_bag')}}" id="shopping_cart">
                        <span>
                            <img class="bar-pic" src="../static/images/shoppingcart.jpg">
                        </span>
                    </a>
                </div>
                {% if user == None %}
                    <div class="nav-item">
                        <a href="{{url_for('User.login')}}" class="state" id="login-btn">
                            <span class="state_image">
                                <img class="bar-pic" src="../static/images/login.jpg">
                            </span>
                        </a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a href="{{url_for('User.logout')}}" class="state" id="logout-btn">
                            <span class="state_image">
                                <img class="bar-pic" src="../static/images/logout.jpg">
                            </span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% block body %} {% endblock %}

    {% block footer %} {% endblock %}

</body>

<script type="text/javascript" src="../static/js/fluidImagesPlayer.js"></script>

</html>