<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for("static", filename='css/MainpageBase_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0, user-scalable=yes" />
    {% block csslink %} {% endblock %}

</head>
<body>
    <!-- top bar area -->
    <div id="HeaderLine">
        <!-- logo for website -->
        <div id="Logo">
            <div id="imageFrame">
                <a href="{{ url_for('index') }}"><img id="webLogo" src="{{ url_for("static", filename='images/Logo.svg') }}"/></a>
            </div>
            <div id="imageFrame2">
                <a href="{{ url_for('index') }}"><img id="webLogo2" src="{{ url_for("static", filename='images/Logo2.svg') }}" /></a>
            </div>
        </div>
        <!-- search area -->
        <div id="SearchArea">
            <form action="{{ url_for('search') }}" method="post">
                {{ searchForm.hidden_tag() }}
                <div id="inputFrame">
                    <div id="searching">
                        <!-- the category selection -->
                        {{ searchForm.tag(class="category-selection") }}

                        {{ searchForm.product_name(id="search", placeholder="Search for items") }}
                    </div>
                    <div id="submitting">
                        {{ searchForm.submit(class="custom-btn", id="searchBtn") }}
                    </div>
                </div>
            </form>
        </div>
        <!-- personal information area -->
        <div id="PersonalInfo">
            <div>
                <!-- user profile -->
                {% if user == None %}
                    <div class="nav-item">
                        <a href="{{url_for('User.login')}}" id="login">
                            <span>
                                <img class="bar-pic" src="../static/images/profile.jpg">
                            </span>
                        </a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a href="{{url_for('Profile.profile')}}" id="profile">
                            <span>
                                <img class="bar-pic" src="../static/images/profile-login.jpg">
                            </span>
                        </a>
                    </div>
                {% endif %}
                <!-- shopping cart -->
                <div class="nav-item">
                    <a href="{{url_for('User.shopping_bag')}}" id="shopping_cart">
                        <span>
                            <img class="bar-pic" src="../static/images/shoppingcart.jpg">
                        </span>
                    </a>
                </div>
                <!-- login/logout state -->
                {% if user == None %}
                    <div class="nav-item">
                        <a href="{{url_for('User.login')}}" class="state" id="login-btn">
                            <span class="state_image">
                                <img class="bar-pic" src="../static/images/login.jpg">
                            </span>
                        </a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a href="{{url_for('User.logout')}}" class="state" id="logout-btn">
                            <span class="state_image">
                                <img class="bar-pic" src="../static/images/logout.jpg">
                            </span>
                        </a>
                    </div>
                {% endif %}
                <!-- remove all -->
                <div class="nav-item">
                    <a href="{{ url_for('clear') }}" id="shopping_cart">
                        <span>
                            <img class="bar-pic" src="../static/images/clean.png">
                        </span>
                    </a>
                </div>
                <!-- mode change -->
                <div class="nav-item">
{#                    <a href="{{ url_for('clear') }}" id="shopping_cart">#}
                        <span>
                            <img class="bar-pic" src="../static/images/light.png" id="mode_img_id" onclick="switchMode()">
                        </span>
{#                    </a>#}
                </div>
            </div>
        </div>
    </div>

    {% block body %} {% endblock %}

    {% block footer %} {% endblock %}
</body>
{% block jsLink %} {% endblock %}
<script type="text/javascript" src="{{ url_for("static", filename='js/addProducts.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename='js/fluidImagesPlayer.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename='js/cardEffect.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename='js/shoppingSlider.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename='js/registerShop.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename='js/profile.js') }}"></script>
</html>