<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoGrocery</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="../static/css/MainpageBase_style.css">
</head>
<body>
    <div id="HeaderLine">
        <div id="Logo">
            <div id="imageFrame">
                <img id="webLogo" src="../static/images/Logo.svg" />
            </div>
        </div>
        <div id="SearchArea">
            <form>
                <div id="inputFrame">
                    <div id="searching">
                        <input type="text" id="search" placeholder="Search for items"/>
                    </div>
                    <div id="submitting">
                        <button type="submit" class="custom-btn" id="searchBtn">
                            <span>
                                Search
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="PersonalInfo">
            <div id="nav_bar">
                <div class="nav-item">
                    <a href="" id="profile">
                        <span>
                            <img src="../static/images/profile.svg">
                        </span>

                    </a>
                </div>
                <div class="nav-item">
                    <a href="" id="shopping_cart">
                        <span>
                            <img src="../static/images/Shopping_bag.svg">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% block body %}

    {% endblock %}
</body>
</html>