{% extends "MainpageBase.html" %}
{% block title %} profile {% endblock %}

{% block body %}
    <!-- register input area -->
    <div class="register-component">
        <div class="register-input-frame">
            <form id="shop-register-form" class="shop-register-input-area" method="post" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                <h2 class="ShopRegistrationFormTitle">Shop Registration</h2>
                <div class="Shop-inputArea">
                    <p>Please upload the logo picture for your shop</p>
                    <div id="preview-pic-frame">
                        <img id="preview-pic" />
                    </div>
                    {{ form.logo(id="shop-logo-input", value="choose file") }}
                    <div class="wrong_error" ></div>
                </div>
                <div class="Shop-inputArea">
                    <p>Please enter the name of your shop</p>
                    {{ form.shop_name(id="shop-name-input", placeholder="Your shop name") }}
                    <div class="wrong_error" ></div>
                </div>
                <div class="Shop-inputArea">
                    <p>Please enter the description of your shop</p>
                    {{ form.description(id="shop-description-input") }}
                </div>
                <input type="button" id="shop-register" class="profile-confirm-btn" value="Registration Confirm" onclick="registerShop()">
{#                {{ form.submit(id="shop-register", class="profile-confirm-btn",value="Registration Confirm") }}#}
            </form>
        </div>
        <button id="profile-back-btn">Back to PROFILE</button>
    </div>

    <!-- products adding area -->
    <div class="register-component">
        <div class="register-input-frame">
            <form id="products-adding-form" class="shop-register-input-area" method="post" enctype="multipart/form-data" novalidate>
                {{ form1.hidden_tag() }}
                <h2 class="ShopRegistrationFormTitle">Product Adding</h2>
                <div class="Shop-inputArea">
                    <p>Please upload the product picture</p>
                    <div id="product-pic-frame">
                        <img id="preview-pic-good" />
                    </div>
                    {{ form1.product_pic(id="good-pic-upload", value="choose file") }}
{#                    <input type="file" id="good-pic-upload" value="choose file">#}
                    <div class="wrong_error" ></div>
                </div>
                <div class="Shop-inputArea">
                    <p>Please enter the name of this product</p>
                    {{ form1.product_name(id="good-name-enter", placeholder="Product Name") }}
{#                    <input type="text" id="good-name-enter" placeholder="Product Name">#}
                    <div class="wrong_error" ></div>
                </div>
                <div class="Shop-inputArea">
                    <p>Please enter the unit price of this product</p>
                    {{ form1.price(id="good-price-enter", placeholder="Unit Price") }}
{#                    <input type="text" id="good-price-enter" placeholder="Unit Price">#}
                    <span>$</span>
                    <div class="wrong_error" ></div>
                </div>
                <div class="Shop-inputArea">
                    <p>Please enter the description of this product</p>
                    {{ form1.description(id="product-description") }}
{#                    <textarea id="product-description"></textarea>#}
                </div>
                {{ form1.tag() }}
                <input type="button" id="add-product" class="profile-confirm-btn" value="Add Product" onclick="addNewProduct()">
            </form>
        </div>
        <button id="add-product-back-btn">Back to PROFILE</button>
    </div>

    <!-- back effect part -->
    <div class="profile_back_effect"></div>

    <!-- main page part -->
    <div class="profileInfo">
        <div class="personalInfoCard">
            <div class="profile-left-pic">
                <img id="profile-pic" src="../static/images/profile-login.jpg" />
            </div>
            <div class="profile-right-info">
                <div class="profile-header">
                    <h2>User Profile</h2>
                </div>
                <div class="info-card">
                    <p class="info-card-title">
                        <span>User name:</span>
                        <span>{{ user.userName }}</span>
                    </p>
                </div>
                <div class="info-card">
                    <p class="info-card-title">
                        <span>User email:</span>
                        <span>{{ user.email }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- shop info part -->
    <div class="shop-info-area">
        <div class="shop-info-frame">
            <div class="shop-header-info">
                <h2>Your shop information</h2>
                <div class="separation-line"></div>
                <!-- if user has not registered shop -->
                {% if shop == None %}
                <div class="shop-registration-notice-frame">
                    <div class="notice-frame">
                        <div class="assistant-notice">
                            <img src="../static/images/assistant.svg">
                        </div>
                        <div class="registration-info-notice">
                            <h4>You haven't registered a shop. Want to register a new shop?</h4>
                            <div class="profile-btn-area">
                                <button type="button" class="shop-register-btn" id="shop-register">Register Shop</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- if user has registered shop -->
                <div class="shop-detailed-info">
                    <div class="shop-pic-present-frame">
                        <img src="{{ url_for("static", filename='shop_logo/' + shop.logo_address) }}"/>
                    </div>
                    <div class="shop-detail-present-frame">
                        <div class="shop-detail-info-piece">
                            <h4>Shop name</h4>
                            <div class="separation-line-label"></div>
                            <div class="shop-info-content">
                                <p>
                                    {{ shop.name }}
                                </p>
                            </div>
                        </div>
                        <div class="shop-detail-info-piece">
                            <h4>Shop description</h4>
                            <div class="separation-line-label"></div>
                            <div class="shop-info-content">
                                <p>
                                    {{ shop.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Products in the shop</h2>
                <div class="separation-line"></div>
                <div class="shop-products-frame">
                    <ul class="products-list">
                        <li class="product-item">
                            <div class="prxoduct-pic-frame">
                                <img />
                            </div>
                            <div class="product-info-frame">
                                <h3>Shirt</h3>
                                <div class="product-description">
                                    <p>
                                        high quality shirts
                                    </p>
                                </div>
                                <div class="product-unit-price">
                                    <p>
                                        ¥ 3400.0
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="products-adding-area">
                    <button type="button" class="shop-register-btn" id="products-add">Add Products</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}