{% extends "MainpageBase.html" %}
{% block title %} profile {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="../static/css/shoppingCartPage.css">
{% endblock %}

{% block body %}
    <div class="shopping-items-container" id="shop-container">
        <h2>Shopping cart items</h2>
        <!-- shop card frame -->
        <div class="total-overall" id="total-cost">
            <div class="price-area">
                   Total Overall: 2200$
            </div>
        </div>

    </div>


{% endblock %}

{% block jsLink %}
    <script type="text/javascript" src="../static/js/shoppingCart.js"></script>
{% endblock %}