{% extends "MainpageBase.html" %}
{% block title %} details {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shopInside.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0, user-scalable=yes" />
{% endblock %}

{% block body %}

    <!-- shop information header -->
    <div class="shopInfo-container">
        <div class="shopInfoCard">
            <div class="shop-logo-frame">
                <img id="shop-logo" src="{{ url_for('static', filename='./shop_logo/' + shop.logo_address) }}" />
            </div>
            <div class="shop-info-frame-s">
                <div class="info-header">
                    <h2>{{ shop.name }}</h2>
                </div>
                <div class="info-card-s">
                    <p>{{ shop.description }}</p>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- shop products collection -->
    <div class="products-container">
        <ul id="card-list-s">
            {% for product in shop.products %}
            <li class="card-item-s">
                <a class="category-image-s" href="{{ url_for('Product.details', id=product.id) }}">
                    <img src="{{ url_for('static', filename='./product_img/' + product.picture_address) }}" alt="perfume">
                </a>
                <a class="category-description-s" href="" >
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.price }}$</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}