{% extends "MainpageBase.html" %}
{% block title %} profile {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shoppingCartPage.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
{% endblock %}

{% block body %}
    <div class="shopping-items-container" id="shop-container">
        <h2>Shopping cart items</h2>
        <!-- shop card frame -->
        <div class="total-overall" id="total-cost">
            <div class="price-area" id="total">
                   Total Overall: 2200$
            </div>
        </div>

    </div>


{% endblock %}

{% block jsLink %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/shoppingCart.js') }}"></script>
{% endblock %}